header {
<<<<<<< HEAD
      width: 100%;
      background-color: #FF0000;
      height: 70px;
}
=======
    width: 100%;
    background-color: #FF0000;
    height: 70px;
}
>>>>>>> 7fc52787a9da9aa3073a8262da628ea663855b36
